.DS_Store
code/module\ 2/subtitle
code/module\ 2/workshop/data/Mouse\ Brain
code/module\ 2/workshop/data/BreastCancer
code/module\ 2/workshop/data/ondisk
code/module\ 2/workshop/data/COVID19
code/module\ 2/slides/Day\ 3.pptx
code/module\ 2/slides/Day\ 2.pptx
code/module\ 2/slides/Day\ 1.pptx
code/module\ 3/hw/docker/
code/module\ 2/markdown/RDS/

/.quarto/
